.tablePageTwoRef {
  display: none;
}

.projectsTitleSection {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20dvh;
   z-index: 2;
  position: absolute;
  left: calc(30% + 46dvw);
}

.projectsTitle {
  display: flex;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
  position: absolute;
  left: 10%;
}

.projectsSection {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 0 5px;
  width: calc(100vw * 4);
  gap: 7dvw;
  min-height: 50dvh;
  flex-direction: row;
  padding: 5px 0;
}

.projectsSliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  height: 100dvh;
}



.projectsTitleTest {
  display: flex;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.scrollSectionTest {
  overflow: "hidden";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.link, .pageLinks {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}


@media (max-width: 1200px) {
 .projectsSliderContainer {
  height: 60dvh;
 }

 .projectsTitleSection {
  padding-top: 2rem;
 }
}

@media (max-width: 768px) {
 .projectsSliderContainer {
  height: 50dvh;
 }
}

@media (max-width: 480px) {
 .projectsSliderContainer {
  height: 55dvh;
 }

 .projectsTitleSection {
  padding-top: 2rem;
 }
}


@media (max-width: 344px) {
 .projectsSliderContainer {
  height: 55dvh;
 }

 .projectsTitleSection {
  padding-top: 2rem;
 }
}

/* Galaxy Z Flip 6: */
@media (width: 1080px) and (height: 2640px) {
 .projectsSliderContainer {
  height: 45dvh;
 }

 .projectsTitleSection {
  padding-top: 12dvh;
 }
}

/* Iphone 16 Pro: */
@media (width: 1206px) and (height: 2622px)
{
 .projectsSliderContainer {
  height: 50dvh;
 }

 .projectsTitleSection {
  padding-top: 12dvh;
 }
}

/* Iphone 16 Pro Max: */
@media (width: 1320px) and (height: 2868px)
{
 .projectsSliderContainer {
  height: 52dvh;
 }

 .projectsTitleSection {
  padding-top: 12dvh;
 }
}
